/* this CSS is portable CSS for the charts and should be applied to the live site */

.chart-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.canvas-container {
  height: 400px;
  width: 420px;
  flex: 0 0 auto;
}

/* Tablet (991px and down) Webflow breakpoint */
@media (max-width: 991px) {
  .canvas-container {
    width: 220px;
    flex: 0 0 auto;
  }
}

/* Mobile Landscape (767px and down) Webflow breakpoint */
  @media (max-width: 767px) {
  .canvas-container {
    width: 220px;
    flex: 0 0 auto;
  }
}

/* Mobile Portrait (478px and down) Webflow breakpoint */
@media (max-width: 478px) {
  .canvas-container {
    width: 220px;
    flex: 0 0 auto;
  }
}

.chart {
  display: none;
  height: 100%;
}

.legend {
  flex: 0 0 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.legend>li {
  display: flex;
  gap: 0.5em;
  font-family: 'Georgia', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.legend>li a {
  white-space: nowrap;
  font-size: 0.95em;
  font-weight: normal;
}

.color-box {
  border: 1px solid #aaa;
  flex: 0 0 1em;
  height: 1em;
  align-self: center;
}